<div id="footer" class="container-fluid bg-info text-center">Copy right &copy </div>
<script src="/js/bootstrap.bundle.js"></script>
<script>document.getElementById("footer").innerHTML+=new Date().getFullYear();</script>